<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="/js/jquery.js"></script>
  <script src="/js/application.js"></script>

</head>
<body>
  <div class="wrapper">
    <header class="page">
     <div class="wrapper">
      <a href="/">Homepage</a>
       <!-- <a href="/"><img id="logo" src="/images/DBCoverflow.png"></a> -->

       <div class="right">
         <% if logged_in? %>
            <span id="user_overview">
              <span class="title">
                 <p>Welcome:</p><a href="/users/<%= current_user.id %>"><%=   current_user.email %></a>
               </span>
            </span>
         <% end %>

         <span id="auth_buttons">
           <% if logged_in? %>
           <a href="/logout"><span class="button">Logout</span></a>
           <% else %>
           <a href="/signup"><span class="button">Register</span></a>
           <a href="/login"><span class="button">Login</span></a>
           <% end %>
         </span>
       </div>
     </div>
    </header>
  </div>
  <%= yield %>
</body>
</html>
